/* Estilos generales del sidebar */
.sidebar .sidebar-content {
    background-color: #000; /* fondo negro */
    color: white; /* texto en blanco */
}

/* Estilos de los botones del sidebar para que parezcan enlaces de menú */
.sidebar .stButton>button {
    width: 100%;
    align-items: center;
    border-radius: 0;
    border: 2px;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
}

/* Cambia el color de fondo del botón en hover */
.sidebar .stButton>button:hover {
    background-color: #333; /* Un poco más claro que el fondo negro */
}

/* Estilos para el título del menú en el sidebar */
.sidebar .sidebar-content h1 {
    color: white; /* Color del título */
    font-size: 25px; /* Tamaño del título */
    margin-bottom: 30px; /* Espacio debajo del título */
}

/* Estilos para modificar la imagen (icono del menú) */
.sidebar img {
    max-width: 50px; /* Cambiar según el tamaño deseado */
    margin-bottom: 20px; /* Espacio debajo del logo */
}
